// http://ionicframework.com/docs/v2/theming/

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/22px;
}

h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em/20px;
}

h6 {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase;
}

p.lead {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7em/34px;
}

i {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
}
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/login/login";
@import "../pages/activity/activity";
